<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="center-div">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <a href="#">
                        <img src="img/codify.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-3">
                    <a href="#">
                        <img src="img/smac.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-3">
                    <a href="#">
                        <img src="img/isc.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            </div>
        </div>
    </aside>
