<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Modules</h2>
                    <h3 class="section-subheading text-muted">Each module is a building blocks of an elegant grant application kit.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Find Sponsors</h4>
                    <p class="text-muted">Explore the world of grants, and sponsorship, and find stakeholders appropriate for your organizational mission and vision.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Review Guidelines</h4>
                    <p class="text-muted">Critically review the criteria set by each spoonsoring organization, to ensure the development of a technically complete application kit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research Reviewers</h4>
                    <p class="text-muted">Know the reviewers of the foundation, organization, or sponsor who have been bestowed with the responsibility of advancing the organizational mission by helping develop the finest applicants.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collaborate</h4>
                    <p class="text-muted">If your organization suffers from deficiencies, remedy the weakness by partnering with industry experts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Define Problem & Present Solution</h4>
                    <p class="text-muted">Each sponsoring organizaton has a mission to help the world make progress. Define the problem in a way, which advances the cause of the sponsor, and present a relevant solution for the challenge.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Craft Narrative & Assemble Kit</h4>
                    <p class="text-muted">Crafting narrative is like developing the season finale, for delighting the stakeholders with the storyline building upto the climax, and concluding with a satisfying resolution for all parties.</p>
                </div>
            </div>
        </div>
    </section>
